
$primary: #EF9C66;
$secondary: #FCDC94;
$thirdary: #C8CFA0;
$fourth: #78ABA8;

$base-unit: 4px;
$spacing-none: 0;
$spacing-base: $base-unit;
$spacing-xxs: 2 * $base-unit;
$spacing-xs: 3 * $base-unit;
$spacing-sm: 4 * $base-unit;
$spacing-md: 5 * $base-unit;
$spacing-lg: 8 * $base-unit;
$spacing-xl: 12 * $base-unit;
$spacing-xxl: 16 * $base-unit;